.header {
  margin-bottom: 78px;
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
  }

  &__box {
    display: flex;
  }

  &__address {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../../images/address-icon.svg");
      width: 30px;
      height: 30px;
      left: 0;
      top: -10px;
    }
  }
}

.menu__item {
  display: inline-block;
  & + .menu__item {
    padding-left: 50px;
  }
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;

  &__item {
    padding-left: 10px;
  }
}

.basket {
  position: relative;

  &__num {
    position: absolute;
    font-family: "SFProDisplay-Medium", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #1c62cd;
    border-radius: 50%;
    text-align: center;
    bottom: -15px;
    right: -14px;
  }
}

.menu-categories {
  background-color: #f0f0f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;

  &__link {
    position: relative;
    transition: all 0.3s;
    font-weight: 400;
    padding: 15px 0 14px;
  }
  &__link--active {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
  }
  &__link::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    bottom: -2px;
    background-color: #1c62cd;
    height: 3px;
    transition: all 0.5s;
  }
  &__link:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }
}
