.search-products {
  &__tabs {
    margin-bottom: 25px;
  }

  &__tabs-item {
    font-size: 20px;
    line-height: 24px;
    padding: 12px 25px;
  }

  &__tabs-item--active {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    background-color: #f0f0f4;
    border-radius: 5px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__content-item {
    display: none;
  }

  &__content-item--active {
    display: block;
  }

  &__input {
    padding: 15px 25px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #f0f0f4;
    border-radius: 3px;
  }

  &__btn {
    margin-left: -3px;
    padding: 17px 40px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #1c62cd;
    border-radius: 3px;
    cursor: pointer;
    border: none;
  }
}
